body {
    background-color: blanchedalmond;
    background-image: url(../images/veggies-2.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.brand-logo {
    left: 30px;
}