{% extends "base.html" %}
{% block content %}

    <h3>Recipes</h3>

    <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col 3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="waves-effect waves-light btn-small green">Done</a>
                    <a href="" class="waves-effect waves-light btn-small blue" >Edit</a>
                </div>

                <div class="col 9">
                    <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.cooking_time }}
                </div>
            </div>
                
            <div class="collapsible-body">
                <em>{{ recipe.ingredients}}</em>
                <p>{{ recipe.prep }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
